html, body{
	margin:0;
	padding:0;
	display:flex;
	flex-direction:column;
}

.head{
	display:flex;
	flex-direction:column;
	justify-content:center;
	background-color:#A0C6C4;
	text-align:center;
	padding-top:1.5em;
	font-family:Georgia;  
}

.titles{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.title{
	display:flex;
	justify-content:center;
	width:40%;
	border-bottom :1px solid #000;
}

t1{
	font-size:50px;
}

t2{
	font-size:16px;
}

.menu, .menuElement{
	display:flex;
	flex-direction:row;
	justify-content:center;
}

nav{
	display:flex;
	justify-content:center;
	margin-top:3em;
}

.menu{
	margin:0;
	padding:0;
}

.menuElement{
	margin-right:5em;
	margin-left:5em;
	margin-bottom:1em;
	font-size:18px;
	text-transform:uppercase;
}

.submenu, .submenuElement{
	display:flex;
	flex-direction:column;
	align-items:start;
}

.submenu{
	margin:0;
	padding:0;
	width:100%;
}

.submenuCase{
	width:100%;
	border-top:1px solid #000;
}

.submenuCase:hover{
	background:rgba(255,182,193,0.5);
	text-shadow:0.5px 0.5px 0.5px #000;
}

.submenuElement{
	margin-top:0.5em;
	margin-bottom:0.5em;
	padding-left:0.5em;
}

li:hover{
	text-shadow:0.5px 0.5px 0.3px #000;
}

.body{
	display:flex;
	justify-content:center;
	background:rgba(250, 250, 250, 0.7);
}

.page{
	display:flex;
	justify-content:center;
	background-color:#FFF;
	margin:5% 10% 5% 10%;
	padding:2em;
	width:60em;
	height:80em;
	box-shadow:1px 1px 10px #000;
}
