html, body{
  margin:0;
  padding:0;
  display:flex;
  flex-direction:column;
}

.head{
  background-color:#A0C6C4;
  text-align:center;
  padding:1em;  
}

t1{
  font-size:20px;
  border-bottom :1px solid #000;
}

.body{
  display:flex;
  flex-direction:row;
  background-color:#FFF;
  margin:1em;
}

.nav{
   max-witdh:8em;
   padding:1em;
   box-shadow:1px 1px 10px #000;
}

.content{
  min-width:20em;
  padding:1em;
  background-color:#AAA;
}
