html, body{
  margin:0;
  padding:0;
  display:flex;
  flex-direction:column;
}

.head{
  background-color:#A0C6C4;
  text-align:center;
  padding:1em;  
}

t1{
  font-size:30px;
  border-bottom :1px solid #000;
}

t2{
  font-size:16px;
  margin:1em;
}

.body{
  display:flex;
  flex-direction:row;
  background-color:#FFF;
  margin:1em;
  padding:1em;
  box-shadow:1px 1px 10px #000;
}
